* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgray;
  max-height: 110vh;
}
#product_store{
  margin: 4rem;
}
#product-container{
  margin: 2rem;
  /* background-color: lightgray; */
}